#body--container {
  background-color: white;
  margin: 40%; }
  #body--container header {
    border: none; }
    #body--container header .header--title {
      color: #00b8e4; }

@media (min-width: 1024px) {
  #body--container {
    margin: 100%; } }
